@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: poppins;
}

@layer components {
    .zoom-in {
      @apply opacity-0;
      animation: zoom-out 2s forwards;
    }
  
    @keyframes zoom-out {
      0% {
        transform: scale(0.5); /* Start bigger */
        opacity: 0;
      }
      100% {
        transform: scale(1); /* End at normal size */
        opacity: 1;
      }
    }
  }

  @layer components {
    .rotate-logo {
      animation: rotate-text 1.5s linear forwards;
    }
  
    @keyframes rotate-text {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
  